.hero{
    background-image: url(assets/flore.jpg);
    background-size: cover;
    background-position: center;
    min-height: 80vh;
}
.img-fixed{
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.img-activities{
    height: 20vh;
    object-fit: cover;
}